.theme-light {
  --background: #f5f5f5;
  --error: #c51162;
  --onBackground: #f5f5f5;
  --onError: #ffffff;
  --primary: #6d6d6d;
  --primaryVariant: #bebebe;
  --onPrimary: #ffffff;
  --secondary: #4ea3b9;
  --secondaryVariant: #ffffff;
  --onSecondary: #ffffff;
  --surface: #ffffff;
  --onSurface: #0f0808;
  --primaryTextColor: #6d6d6d;
  --secondaryTextColor: #ffffff;
}

.theme-dark {
  --background: #f5f5f5;
  --error: #c51162;
  --onBackground: #e5e5e5;
  --onError: #ffffff;
  --primary: #6d6d6d;
  --primaryVariant: #bebebe;
  --onPrimary: #ffffff;
  --secondary: #4ea3b9;
  --secondaryVariant: #ffffff;
  --onSecondary: #ffffff;
  --surface: #ffffff;
  --onSurface: #0f0808;
  --primaryTextColor: #6d6d6d;
  --secondaryTextColor: #ffffff;
}
